* {
  outline: none !important;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin: auto;
  font-family: 'Sriracha', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}

#dl {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid black;
  background-color: #fff;
  margin-left: 15px;
}

#dl:hover {
  background-color: #000;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 75vh;
  margin: auto;
  align-self: center;
}

#new-review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 70vh;
  font-family: 'Sriracha', cursive;
}

#form {
  display: flex;
  flex-direction: column;
  height: 85%;
}

.label {
  width: 80%;
  align-self: center;
  margin: 20px;
}

#title {
  height: 24px;
  width: 80%;
  align-self: center;
  margin-bottom: 30px;
  padding-left: 8px;
}

#comment {
  height: 150px;
  width: 80%;
  align-self: center;
  text-align: left;
  margin-bottom: 30px;
  resize: none;
  white-space: nowrap;
  padding-left: 8px;
}

#add-button {
  width: 25%;
  align-self: center;
  height: 30px;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: 'Sriracha', cursive;
  cursor: pointer;
  margin: 0 auto 30px;
  background-color: #fff;
}

#add-button:hover {
  background-color: #efc501;
  border: 2px solid #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#stars-rate {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
}

#stars {
  width: 30px;
  margin-left: 5px;
}

#review-list {
  overflow: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  overflow: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 1px solid #000;
}

.reviewData{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #0e1111;
}

.title {
  font-size: 20px;
  margin: 15px 0 15px;
  text-align: center;
  font-family: 'Sriracha', cursive;
  text-transform: uppercase;
}

.stars {
  font-size: 20px;
  text-align: center;
  color: #ccad34;
  font-weight: bolder;
  margin-bottom: 20px;
}

.comment {
  margin: 10px;
  text-align: center;
  font-family: monospace;
}

#removeButton {
  background-color: #fff;
  border-style: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Sriracha', cursive;
}

.dark-theme {
  color: white;
  background-color: #0e1111;
}

.dark-theme #dl {
  background-color: #fff;
}

.dark-theme #review-list {
  border: 1px solid #fff;
}

.dark-theme #comment,
.dark-theme #add-button,
.dark-theme #title,
.dark-theme #removeButton {
  background-color: #414a4c;
  border-style: none;
  color: #fff;
}

.dark-theme #add-button:hover {
  background-color: #efc501;
  border: 2px solid #000;
  color: #000;
}

.dark-theme #dl {
  background-color: #000;
  border: 3px solid #fff;
}

.dark-theme #dl:hover {
  background-color: #fff;
}

footer {
  text-align: right;
  margin-right: 8%;
  margin-bottom: 20px;
  font-family: monospace;
}

/* media query */

@media only screen and (max-width: 750px) {
  #container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 750px;
  }

  #new-review {
    width: 90%;
    margin: auto;
  }

  #form {
    height: 400px;
  }

  .label {
    width: 100%;
  }

  #title {
    width: 100%;
    height: 30px;
  }

  #comment {
    height: 200px;
    width: 100%;
  }

  #review-list {
    width: 90%;
    height: 50vh;
  }
}
